<div>
    <h3>Orc form</h3>
    <hr/>
    <form [formGroup]="formData" (ngSubmit)="saveOrc()">
        <div class="form-group">
            <label
                for="name"
                class="form-control-label"
                [ngClass]="{'text-danger': formData.get('name').invalid && formData.get('name').touched}">
                Orc name:
            </label>
            <input
                type="text"
                id="name"
                formControlName="name"
                name="name"
                placeholder="orc.name"
                class="form-control"
                [ngClass]="{'is-invalid': formData.get('name').invalid && formData.get('name').touched}"
            />
            <small
                *ngIf="formData.get('name').invalid && formData.get('name').touched"
                class="text-danger"
            >Please enter an orc name
            </small>
        </div>

      <div class="form-group">
        <label
          class="form-control-label"
          [ngClass]="{'text-danger': formData.get('raceType').invalid && formData.get('raceType').touched}"
        >
          Race type:
        </label>
        <div>
          <label>
            <select id="raceType" formControlName="raceType">
              <option *ngFor="let raceType of raceTypes" [value]="raceType.name">{{raceType.displayName}}</option>
            </select>
          </label>
        </div>
        <small
          *ngIf="formData.get('raceType').invalid && formData.get('raceType').touched"
          class="text-danger">
          Please choose a race-type
        </small>
      </div>

      <div class="form-group">
        <label
          for="killCount"
          class="form-control-label"
          [ngClass]="{'text-danger': formData.get('killCount').invalid && formData.get('killCount').touched}"
        >
          Kill count:
        </label>
        <input
          type="number"
          id="killCount"
          formControlName="killCount"
          name="killCount"
          placeholder=""
          class="form-control"
          [ngClass]="{'is-invalid': formData.get('killCount').invalid && formData.get('killCount').touched}"
        />
        <small
          *ngIf="formData.get('killCount').invalid && formData.get('killCount').touched"
          class="text-danger"
        >Please enter kill-count
        </small>
      </div>


        <div class="form-group">
            <label
                class="form-control-label"
                [ngClass]="{'text-danger': formData.get('weapons').invalid && formData.get('weapons').touched}"
            >
                Weapons:
            </label>
            <div formArrayName="weapons" *ngFor="let weapon of weaponOptions; let i = index">
                <label>
                    <input type="checkbox" [formControlName]="i">{{ weapon.displayName }}
                </label>
            </div>
            <small
                *ngIf="formData.get('weapons').invalid && formData.get('weapons').touched"
                class="text-danger"
            >
                Please choose maximum three weapons
            </small>
        </div><br>

      <button [disabled]="formData.invalid">Submit</button>

    </form>
</div>
